.texto-fundo {
    display: inline-block;
    background-color: #76b91c;
    color: #000 !important;
    padding: 12px;
    text-align: center !important;
    font-weight: 600;
}

.uk-card-body > p {
    font-size: 0.9rem !important ;
}

.uk-card-default{
    border-top: rgb(102, 165, 20) 6px solid !important;
}

h3{
    font-family: inherit;
        color: rgb(102, 165, 20) !important;
        font-weight: 600;


}