<!-- Footer Section -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- Column 1: Logo and Social Media -->
            <!-- Column 1: Logo and Social Media -->
            <div class="footer-column">
                <ul class="footer-links">
                    <li>
                        <img class="footer-logo" src="/img/logo-180x32-spaceall.png" alt="Angola Cables Logo">
                    </li>
 <li class="uk-margin-small-top"><b>Endereço</b></li>
                    <li style="color: white"><span class="uk-margin-small-right" uk-icon="location"></span>
                        Av 21 de Janeiro, S34-36,<br> Centro Comercial Nosso Centro,<br> Morro Bento - Luanda </li>


                </ul>
            </div>



            <!-- Column 3: About Us -->
            <div class="footer-column ">

                <ul class="footer-links">
                    <li><b>Acesso Rápido</b></li>

                    <li><a routerLink="/cloud">Nuvem </a></li>

                </ul>


   
            </div>

<!-- Column 3: About Us -->
            <div class="footer-column ">

         
                

                <ul class="footer-links">
                    <li class="uk-margin-small-top"><b>Políticas</b></li>
                    <li><a routerLink="/politicas">Política de Privacidade</a> </li>
                    <li><a routerLink="/termos">Termos e Condições</a> </li>


                </ul>
            </div>



            <!-- Column 4: Offices -->
            <div class="footer-column">


                <ul class="footer-links uk-margin-small-top">
                    <li><b>Contacto e Parcerias </b></li>
                    <li style="color: white"><a href="mailto:contact&#64;spaceall.net"><span class="uk-margin-small-right" uk-icon="mail"></span> contact&#64;spaceall.net</a></li>

               


                </ul>
                <ul class="footer-links">

                    <li class="margem-superior uk-margin-small-top ">
                        <b>Siga-nos</b>
                        <div class="social-icons">
                            
                            <a target="_blank" href="https://www.linkedin.com/company/spaceall/"
                                uk-icon="linkedin"></a>
                        </div>
                    </li>
                   

                    <!--                     <li><a href="https://telcables.co.za/">África do Sul</a></li>
                    <li><a href="https://telcables.com.br/">Brasil</a></li>
                    <li><a href="https://telcables.net/">EUA</a></li>
                    <li><a href="https://telcables.ng/">Nigeria</a></li>
                    <li><a href="https://telcables.pt/">Portugal</a></li> -->

                </ul>
            </div>

            <!-- Column 5: Image/Linked Content 
            <div class="footer-column">
                <img src="img/linked.png" alt="Additional footer image" style="max-width: 100%; height: auto;">
            </div>-->
        </div>


    </div>
    <p style="color: #fff" class="uk-text-center">
        &copy; Copyright 2025.
        SPACEALL. Todos os direitos reservados.
    </p>

</footer>